.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9em;
  

}
.login_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    
    border-radius: 40px;
    box-shadow: 2px 1px 6px black;

    width: 22em;

    height: 30em;
    margin-bottom: 4.5em;
}

.login input{
border-color: transparent transparent rgb(68, 68, 68) ;


}
.login p{
    color: red;
}