.artists_container{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
h1{
  color: black;
  
}
.container_major{
  display: flex;
  flex-direction: column;
}
.appointment_artist_container{
  display: flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.shedule_conatiner {
  display: flex;
  
  justify-content:space-around;
  gap: 1em;
}
.titulo{
  display: flex;
  justify-content: space-around;
}