.profile_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.alert_container{
    width: 25em;
   
}

.btn-close{

    width: 0.5em;
    height: 0.5em;
    background-color: none;
    border: none 
}
.table {
    text-align: center;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}